/* Variables Start */
:root {
  --clr-primary-dark-red: #8a1010;
  --clr-primary-light-red: #d50101;
  --clr-primary-red: #ef1923;
  --clr-gray-text: #6b6b6b;
  --clr-dark-gray-text: #444444;
}
/* Variables End */
/* General Styles Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
li a {
  text-decoration: none;
  font-size: 18px;
}
/* General Styles End */
/* Header Styles Start */
.my-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.6rem 0;
}
.my-navbar .nav-links {
  gap: 2rem;
}
.my-navbar .social-links {
  gap: 0.3rem;
}
.my-navbar .social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--clr-gray-text);
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}
.my-navbar .social-links li:last-child a {
  background-color: var(--clr-primary-red);
  border: none;
  color: white;
}
.my-navbar ul li a {
  color: var(--clr-dark-gray-text);
}
.header .info {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
.header .info .info__title {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}
.header .info .info__description {
  margin-right: 15rem;
  line-height: 2;
}
.header .info .info__btn {
  border: none;
  padding: 1rem 2.5rem;
}
.landing-cover {
  background: linear-gradient(
    to right,
    var(--clr-primary-dark-red),
    var(--clr-primary-light-red)
  );
  padding: 4.5rem 0;
  position: relative;
}
.landing-slider {
  display: flex;
  align-items: center;
  position: relative;
  top: 7rem;
}
.landing-slider .slide {
  width: 10px;
  height: 10px;
  border: solid 1px white;
  margin: 0 0.5rem;
}
.landing-slider .slide.active {
  background-color: white;
}
.landing-cover .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10rem;
}
/* Header Styles End */
/* About Styles Start */
.about .container {
  display: flex;
  padding: 5rem 11rem;
}
.info__title {
  color: var(--clr-primary-red);
  font-weight: 400;
}
.info__title span {
  font-size: 1rem;
}
.pictures > div {
  width: 10rem;
  position: relative;
}

.pictures > div img {
  position: absolute;
}

.pictures > div:nth-child(1) {
  height: 10rem;
}

/* About Styles End */
/* Our products Styles Start */
.our-products .container {
  padding: 5rem 11rem;
}
.our-products .taps {
  display: flex;
  gap: 1rem;
}
.our-products .taps .tap {
  border: solid 1px #9c9c9c;
  padding: 0.3rem 0.8rem;
  color: #9c9c9c;
}
.our-products .taps .active {
  border: none;
  background-color: #ef1923;
  color: white;
}
.our-products .product {
  width: 13rem;
  background: linear-gradient(to top, white, #f9f9f9);
  position: relative;
}
.our-products .product::before {
  position: absolute;
  content: "Best Seller";
  background-color: #f8c025;
  color: white;
  width: 5rem;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0.2rem;
  padding-right: 1rem;
  top: 1rem;
  left: 0;
}
/* now to make a white arrow using after */
.our-products .product::after {
  position: absolute;
  content: "";
  border: solid 0.7rem;
  border-color: transparent #f9f9f9 transparent transparent;
  width: 23.2px;
  height: 23.2px;
  top: 1rem;
  left: 3.6rem;
}
.our-products .product .btn-details {
  border: solid 2px #9c9c9c;
}

/* Our products Styles End */
